<!-- <p>upload works!</p> -->
 <div class="dashboard-container">

<app-navbar> </app-navbar>

  <!-- Main Content -->
  <main class="main-content">
    <div class="dashboard-cards">
      <button class="dashboard-card" (click)="onFileDataIngestion()">
        <span class="card-text">File & Data Ingestion</span>
      </button>
      
      <button class="dashboard-card" (click)="onKnowledgeExtraction()">
        <span class="card-text">Knowledge extraction &<br>Structuring</span>
      </button>
      
      <button class="dashboard-card" (click)="onFileDataDigestion()">
        <span class="card-text">File & Data digestion</span>
      </button>
    </div>
  </main>
</div>
