<div class="container">
  <div class="desktop-view">
    <div class="card">
      <div class="card-content">
        <h2 class="title">Login</h2>

        <form (ngSubmit)="onSubmit()" class="form-container">
          <div class="input-group">
            <label for="username" class="label">Username</label>
            <input
              id="username"
              type="text"
              [(ngModel)]="username"
              name="username"
              class="input-field"
              required
            />
          </div>

          <div class="input-group">
            <label for="password" class="label">Password</label>
            <input
              id="password"
              type="password"
              [(ngModel)]="password"
              name="password"
              class="input-field"
              required
            />
          </div>

          <div
            *ngIf="message"
            class="message-box"
            [ngClass]="{'message-success': isSuccess, 'message-error': !isSuccess}"
          >
            {{ message }}
          </div>

          <div class="link-text">
            <span>Not have an account? </span>
            <a routerLink="/signup" class="link">Create now.</a>
          </div>

          <div class="button-container">
            <button type="submit" class="submit-button">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="mobile-view">
    <div class="form-wrapper">
      <form (ngSubmit)="onSubmit()" class="mobile-form">
        <div class="input-group">
          <label for="username-mobile" class="mobile-label">Username</label>
          <input
            id="username-mobile"
            type="text"
            [(ngModel)]="username"
            name="username"
            class="mobile-input"
            required
          />
        </div>

        <div class="input-group">
          <label for="password-mobile" class="mobile-label">Password</label>
          <input
            id="password-mobile"
            type="password"
            [(ngModel)]="password"
            name="password"
            class="mobile-input"
            required
          />
        </div>

        <div
          *ngIf="message"
          class="mobile-message-box"
          [ngClass]="{'mobile-message-success': isSuccess, 'mobile-message-error': !isSuccess}"
        >
          {{ message }}
        </div>

        <div class="mobile-link-text">
          <span>Not have an account? </span>
          <a routerLink="/signup" class="mobile-link">Create now.</a>
        </div>

        <div class="mobile-button-container">
          <button type="submit" class="mobile-button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>